@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: #ffffff;
        --foreground: #171717;
        --primary: #ffffff;
        --primary-foreground: #000000;
        --secondary: #000000;
        --secondary-foreground: #ffffff;
        --destructive: #e32636;
        --card: #343434;
        --card-foreground: #ffffff;
    }
    .dark {
        --background: #0a0a0a;
        --foreground: #ededed;
        --primary: #000000;
        --primary-foreground: #ffffff;
        --secondary: #ffffff;
        --secondary-foreground: #000000;
        --destructive: #e32636;
        --card: #faf9f6;
        --card-foreground: #000000;
    }
}

@layer base {
    * {
        @apply font-figtree;
    }
    body {
        @apply bg-background text-foreground;
    }
    .theme {
        @apply h-[1.2rem] w-[1.2rem] transition-opacity duration-300 ease-in-out;
    }
    .section-margin {
        @apply mx-14 my-6;
    }
    .cart-count {
        @apply absolute bottom-0 -right-1 flex justify-center items-center w-4 h-4 bg-destructive text-white rounded-full text-xs;
    }
}
